<nav>
    <div class="logo">
        <a href="/">
            - The Font Palette -
        </a>
    </div>
    <ul>
        <a routerLink="/upload"><li routerLinkActive="active">Upload your font</li></a>
        <a routerLink="/google"><li routerLinkActive="active">Use Google Fonts</li></a>
    </ul>
</nav>
<div style="position: relative; z-index: 2;">
    <router-outlet></router-outlet>
</div>
<div class="animation">
    <img src="../assets/in.png" alt="" class="page8">
    <img src="../assets/in.png" alt="" class="page7">
    <img src="../assets/in.png" alt="" class="page6">
    <img src="../assets/in.png" alt="" class="page5">
    <img src="../assets/in.png" alt="" class="page4">
    <img src="../assets/in.png" alt="" class="page3">
    <img src="../assets/in.png" alt="" class="page2">
    <img src="../assets/cover.png" alt="" class="page1">
</div>

