nav{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 40px;
    z-index: 2;
    .logo{
        font-weight: 700;
        padding: 20px;
    }
    ul{
        display: flex;
        list-style-type: none;
        margin: 0 20px 0 auto;
        padding: 0;
        li{
            padding: 20px 20px 15px 20px;
            transition: all 0.5s;
            border-bottom: solid 1px white;
        }
        li:hover{
            border-bottom: solid 1px #dadada;
        }
        li.active{
            border-bottom: solid 1px black;
        }
    }
    a{
        text-decoration: none;
        color: black;
    }
}

.animation{

    position: absolute;
    left: 200px;
    bottom:120px;
    opacity: .3;
    z-index: 1;
    img{
        position: absolute;
        bottom: 0;
        right: 0;
        transform-origin: bottom right;
    }
    .page1 {
        animation: rotate-page1 1s linear forwards ;
    }
    .page2 {
        animation: rotate-page2 1s linear forwards ;
    }
    .page3 {
        animation: rotate-page3 1s linear forwards ;
    }
    .page4 {
        animation: rotate-page4 1s linear forwards ;
    }
    .page5 {
        animation: rotate-page5 1s linear forwards ;
    }
    .page6 {
        animation: rotate-page6 1s linear forwards ;
    }
    .page7 {
        animation: rotate-page7 1s linear forwards ;
    }
    .page8 {
        animation: rotate-page8 1s linear forwards ;
    }

    @keyframes rotate-page2 {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(5deg);
        }
      }
      
      /* Animation for page 3 */
      @keyframes rotate-page3 {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(10deg);
        }
      }
      
      /* Animation for page 4 */
      @keyframes rotate-page4 {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(15deg);
        }
      }
      
      /* Animation for page 5 */
      @keyframes rotate-page5 {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(20deg);
        }
      }
      
      /* Animation for page 6 */
      @keyframes rotate-page6 {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(25deg);
        }
      }
      
      /* Animation for page 7 */
      @keyframes rotate-page7 {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(30deg);
        }
      }
      
      /* Animation for page 8 */
      @keyframes rotate-page8 {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(35deg);
        }
      }
}


@media print {
  .animation, nav{
    visibility: hidden;
    display: hidden;
  }
}
