<div id="container">
    <form [formGroup]="gForm">

        <mat-form-field appearance="outline">
            <mat-label>Google Font</mat-label>
            <input type="text" placeholder="Type a googleFont" aria-label="Google font" matInput
                formControlName="googleFont" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption (optionSelected)="onSelected($event)">
                <mat-option *ngFor="let fontUrl of filteredOptions$ | async" [value]="fontUrl">
                    {{ fontUrl.name }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <div *ngIf="fonts.length" cdkDropList class="font-list" (cdkDropListDropped)="drop($event)">
            <div class="font-box" *ngFor="let font of fonts; let i = index" cdkDrag>
                <h3>{{font.name}}</h3>
                <div>
                    <mat-icon disabled>reorder</mat-icon>
                    <button mat-icon-button color="warn" (click)="deleteFont(i)" aria-label=">Delete font">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>

        <div class="customOptions">
            <mat-form-field appearance="outline" style="margin-right: 5px">
                <mat-label>Custom preview text</mat-label>
                <input matInput placeholder="Lorem ipsum..." formControlName="customText">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Font size</mat-label>
                <input matInput type="number" placeholder="24" formControlName="textSize">
            </mat-form-field>
        </div>

    </form>

    <div id="section-to-print">
        <div class="font-list-preview" *ngFor="let font of fonts">
            <div class="hole"></div>
            <div class="preview-content">
                <h2>
                    {{font.name}} <span>{{gForm.controls['textSize'].value}}px</span>
                </h2>
                <div class="preview-text">
                    <span *ngIf="!gForm.controls['customText'].value" [style.font-family]="font.fontFamily"
                        [style.font-size.px]="gForm.controls['textSize'].value"
                        [style.line-height.px]="gForm.controls['textSize'].value">
                        {{previewText}}
                    </span>
                    <span *ngIf="gForm.controls['customText'].value" [style.font-family]="font.fontFamily"
                        [style.font-size.px]="gForm.controls['textSize'].value"
                        [style.line-height.px]="gForm.controls['textSize'].value">
                        {{gForm.controls['customText'].value}}
                    </span>
                </div>
            </div>
            <div class="branding">
                - The Font Palette -
            </div>
        </div>

        <div class="font-list-preview" style="opacity: 0.4" *ngIf="fonts.length === 0">
            <div class="hole"></div>
            <div class="preview-content">
                <h2>
                    Your Font <span>{{gForm.controls['textSize'].value}}px</span>
                </h2>
                <div class="preview-text">
                    <span [style.font-size.px]="gForm.controls['textSize'].value"
                        [style.line-height.px]="gForm.controls['textSize'].value">
                        "Add your font to generate your Palette"
                    </span>
                </div>
            </div>
            <div class="branding">
                - The Font Palette -
            </div>
        </div>
    </div>

    <div class="model3d">
        <img class="image"
            src="https://cdn.thingiverse.com/renders/57/46/e3/b0/55/517d59a3c30cdfd77299606a5d5fef1c_preview_featured.jpg"
            alt="Chicago 3dScrew">
        <a mat-raised-button href="https://www.thingiverse.com/thing:3776696" target="_blank">3d screw model</a>
    </div>

    <div class="print">
        <mat-chip-option style="margin-right: 5px">Print your Palette</mat-chip-option>
        <button class="" mat-fab color="primary" aria-label="Print your Palette" onclick="window.print();">
            <mat-icon>print</mat-icon>
        </button>
    </div>

</div>