h3,h4,p{
  font-family: Roboto, Arial, sans-serif;
}
#container{
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  max-width: 200mm;
  margin: 0 auto;
  padding: 10px;
  background-color: #ffffffcc;
}

.dropzone {
  padding: 100px 0;
  border: 2px dashed grey;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  label{
    padding: 5px;
    border: 2px solid grey;
    border-radius: 10px;
  }
}

form{
  display: flex;
  mat-form-field{
    flex-grow: 1;
  }
}


.font-list {
  display: block;
  margin-bottom: 20px;
  .font-box{
    border: solid 1px grey;
    border-radius: 7px;
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3{margin: 0 10px;}
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.font-box:last-child {
  border: none;
}

.font-list.cdk-drop-list-dragging .font-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.font-list-preview {
  padding: 10px;
  height: 170px;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 15px;
  display: flex;
  span{
    font-size: 10px;
  }
}
.hole{
  min-width: 18mm;
  min-height: 18mm;
  border-radius: 50%;
  border: 1px solid black;
  align-self: flex-end;
  margin-right: 20px;
}
.preview-content{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  h2{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
  }
  .preview-text{
    white-space: pre-line;
    text-align: center;
  }
}


.branding{
  transform: rotate(-180deg);
  writing-mode: tb-lr;          /*  for IE  */
  writing-mode: vertical-lr;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.model3d{
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 5px;
  left: 5px;
  .image{
    width: 80px;
    min-height: 80px;
    border-radius: 50%;
    margin-right: 5px;
  }
}

.print{
  position: fixed;
  bottom: 15px;
  right: 15px;
}



@media print {
  #container{
    visibility: hidden;
  }
  #section-to-print {
    width: 100%;
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
  }
}
input[type="file"]{
  display:none;
}
