<div id="container">
    <div class="dropzone" appDnd (fileDropped)="onFileDropped($event)">
        <input type="file" #fileDropRef id="fileDropRef" accept=".ttf, .otf" multiple
            (change)="fileBrowseHandler($event.target)" />

        <p>Drag and drop file here</p>
        <p>or</p>
        <label mat-stroked-button for="fileDropRef"> Browse for file</label>
    </div>

    <div *ngIf="fonts.length" cdkDropList class="font-list" (cdkDropListDropped)="drop($event)">
        <div class="font-box" *ngFor="let font of fonts; let i = index" cdkDrag>
            <h3>{{font.fileName}}</h3>
            <div>
                <mat-icon disabled>reorder</mat-icon>
                <button mat-icon-button color="warn"(click)="deleteFont(i)" aria-label=">Delete font">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
    </div>

    <form [formGroup]="fontForm">

        <mat-form-field appearance="outline" style="margin-right: 5px">
            <mat-label>Custom preview text</mat-label>
            <input matInput placeholder="Lorem ipsum..." formControlName="formPreviewText">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Font size</mat-label>
            <input matInput type="number" placeholder="24" formControlName="formPreviewFontSize">
        </mat-form-field>

    </form>

    <div id="section-to-print">
        <div class="font-list-preview" *ngFor="let font of fonts">
            <div class="hole"></div>
            <div class="preview-content">
                <h2>
                    {{getTitle(font.fileName)}} <span>{{fontForm.controls['formPreviewFontSize'].value}}px</span>
                </h2>
                <div class="preview-text">
                    <span *ngIf="!fontForm.controls['formPreviewText'].value" [style.font-family]="font.fontFamily" [style.font-size.px]="fontForm.controls['formPreviewFontSize'].value" [style.line-height.px]="fontForm.controls['formPreviewFontSize'].value">
                        {{previewText}}
                    </span>
                    <span *ngIf="fontForm.controls['formPreviewText'].value" [style.font-family]="font.fontFamily" [style.font-size.px]="fontForm.controls['formPreviewFontSize'].value" [style.line-height.px]="fontForm.controls['formPreviewFontSize'].value">
                        {{fontForm.controls['formPreviewText'].value}}
                    </span>
                </div>
            </div>
            <div class="branding">
               - The Font Palette -
            </div>
        </div>

        <div class="font-list-preview" style="opacity: 0.4" *ngIf="fonts.length === 0">
            <div class="hole"></div>
            <div class="preview-content">
                <h2>
                    Your Font <span>{{fontForm.controls['formPreviewFontSize'].value}}px</span>
                </h2>
                <div class="preview-text">
                    <span [style.font-size.px]="fontForm.controls['formPreviewFontSize'].value" [style.line-height.px]="fontForm.controls['formPreviewFontSize'].value">
                        "Add your font to generate your Palette"
                    </span>
                </div>
            </div>
            <div class="branding">
               - The Font Palette -
            </div>
        </div>
    </div>

    <div class="model3d">
        <img class="image" src="https://cdn.thingiverse.com/renders/57/46/e3/b0/55/517d59a3c30cdfd77299606a5d5fef1c_preview_featured.jpg" alt="Chicago 3dScrew">
        <a mat-raised-button href="https://www.thingiverse.com/thing:3776696" target="_blank">3d screw model</a>
    </div>
  
    <div class="print">
        <mat-chip-option style="margin-right: 5px">Print your Palette</mat-chip-option>
        <button class="" mat-fab color="primary" aria-label="Print your Palette" onclick="window.print();">
            <mat-icon>print</mat-icon>
        </button>
    </div>

</div>